
<html >
<head>
<title>Mi Sitio TP</title>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    
<header>
    <nav>
        <p>Mi Sitio TP</p>
        <ul>
            <li>
               <a href="/peliculas/crear">Crear Peliculas</a> 
            </li>
            <li>
                <a href="/peliculas">Ver Peliculas</a> 
             </li>
      
        </ul>
    </nav>
</header>