
<%- include('header')%>

<h1>Listado de Peliculas</h1>
<ul>
    <% for (let i = 0; i < peliculas.length; i++){%>
<li>
    <a href="/peliculas/detail/<%=peliculas[i].id%>">
<%=peliculas[i].title%>
</a>
</li>
        <%  }%>

</ul>

<%- include('footer')%>
